body{
    text-align: center;         /* Only seen on top as no content on side */
    background-color: aquamarine;
    border-radius: 5px;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 110px;
  padding: 10px;
}

h1 {
  padding: 10px 5px 10px 5px;
  width: 40rem;
  margin: auto;
  border-radius: 10px;
  background-color: yellow;
  background-size: 2px 1px;
  /* font-family: 'Barlow', sans-serif; */
  font-family: "PT Sans", sans-serif;
  /* font-family: sans-serif; */
  text-align: center;
  color: rgb(44, 107, 130);
  font-weight: bolder;
  /* The answer is that the Google font isn't calibrated to carry all of the weights
   you want with it. Many fonts only have 1 weight. Save this answer. Show activity on this post.2 */
}

p {

  font-family: sans-serif;
  text-align: center;
  color: darkcyan;
  font-weight: bolder;
}

a {
  padding: 9px;
  background-color: whitesmoke;
  border: 4px dashed rgba(211, 220, 50, .6);
  color: rgb(200, 28, 28);
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:hover {
  color: yellowgreen;
  text-decoration: underline;
}

#myId {
  color: blue;
  font-weight: bold;
  font-size: 35px;
}

body a{
  border-radius: 15px;
  background-color: rgb(71, 96, 178);
  color: aqua;
}
