/* span --> Inline Element
div --> Block Element */

#hero {
  height: 850px;
  background-image: url("/DAY15/A/images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
  /* position: relative;              
    top: 0; */
}

#hero-content {
  width: 700px;
  background-color: rgba(64, 64, 77, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: whitesmoke;
  font-weight: 300;
  font-size: 19px;
  margin: 8px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#hero-content a {
  text-decoration: none;
  background-color: yellow;
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  box-shadow: 2px 2px 2px black;
}

#hero-content a:hover {
  background-color: rgb(212, 212, 30);
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.destination p{
    text-align: center;
    font-size: 24px;
    color: rgb(124, 123, 123);
}

.destination img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  object-fit: cover; /* to maintain the originality */

  /* object-fit: contain;         
    To maintain the aspect ratio

    To fill the space in a complete manner inspite of distorted image or whatever
    object-fit: fill; */
}

.destination strong{
    color: rgb(0 , 160, 117);
}

#highlights{
    padding: 24px;
    /* background-color: rgb(227, 253, 255); */
    background: linear-gradient(0deg, rgb(167, 224, 228), rgb(89, 205, 197));
}


#highlights h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(59, 65, 64);
    margin: 24px 0;
}

